html,
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Nova Flat', cursive;
  font-size: 30px;
  margin: 0;
}

body {
  box-shadow:
    inset 15px 15px 20px black,
    inset -15px -15px 20px black,
    inset 30px 30px 20px grey,
    inset -30px -30px 20px grey,
    inset 50px 50px 200px grey,
    inset -50px -50px 200px grey;
}

.times {
  float: left;
  position: relative;
  width: calc(100% / 3);
  height: calc(100% / 3);
  padding-top: 25vh;
  filter: invert(100%);
  opacity: 0.6;
}

.zone {
  position: absolute;
  text-align: center;
  height: calc(100% / 3);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px grey;
  filter: invert(100%);
}

.time {
  text-shadow:
    0 0 3px grey,
    0.5px 0.5px 8px grey,
    2px 2px 15px black;
  text-align: center;
}
